:root {
    --primary: #D81E5B;
    --secondary:#8A4FFF;
    --grey:#AAA;
    --light: #EEE;
    --dark: #131A26;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
}

body {
    background-color: var(--light);
}

main {
    padding: 3rem 2rem;
    max-width: 700px;
    margin: 0 auto;
}

h1 {
    color: var(--dark);
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

p {
    color: var(--grey);
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 2rem;
}

.counter {
    background-color: var(--dark);
    padding: 1rem;
    border-radius: 1rem;
    color: #FFF;
}

.counter-value {
    font-size: 9rem;
    font-weight: 700;
    text-align: center;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls button {
    margin: 0 0.5rem;
}

button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    user-select: none;

    color: var(--primary);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;

    transition: 0.4s ease-out;
}

button:active {
    transform: scale(1.1);
}

button[data-action="reset"] {
    color: #FFF;
    opacity: 0.5;
}

button[data-action="reset"]:hover {
    opacity: 1;
}

.save {
    margin-top: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.save button {
    color: var(--dark);
}